.bd-ab1-sec {
	z-index: 1;
	position: relative;
	&:before {
		left: 0;
		bottom: 0;
		z-index: -1;
		width: 100%;
		content: '';
		height: 337px;
		position: absolute;
		background-color: #EDEFED;
	}
	.bd-ab1-shape {
		top: 0;
		right: 30px;
	}
	.bd-ab2-shape2 {
		left: 0;
		bottom: 0;
	}
}
.bd-ab1-top-content {
	gap: 60px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		gap: 30px;
	}
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.bd-ab1-top1 {
	@media #{$md,$sm,$xs,$xxs} {
		padding-top: 0;
	}
	ul {
		display: flex;
		margin-bottom: 12px;
	}
	li {
		width: 48px;
		height: 48px;
		overflow: hidden;
		margin-left: -15px;
		border-radius: 10px;
		border: 2px solid #FFFFFF;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--bd-title-color);
		}
	}
	p {
		color: #191919;
		font-size: 20px;
		max-width: 200px;
		line-height: 1.2;
		margin-bottom: 42px;
		letter-spacing: -0.5px;
		font-family: var(--bd-heading);
	}
}

.bd-ab1-top2 {
	max-width: 800px;
}

.bd-ab1-top3 {
	width: 100%;
	height: 308px;
	padding: 32px;
	overflow: hidden;
	max-width: 320px;
	position: relative;
	background-color: var(--bd-prime-c);
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	&:before {
		top: -50px;
		right: -25px;
		width: 64px;
		content: '';
		height: 120px;
		position: absolute;
		background-color: #fff;
		transform: rotate(-48.37deg);
	}
	p {
		color: #fff;
		font-size: 20px;
		max-width: 170px;
		font-weight: 500;
		line-height: 1.1;
		padding-bottom: 16px;
		font-family: var(--bd-heading);
	}
	h3 {
		color: #fff;
		line-height: 1;
		font-size: 40px;
		font-weight: 600;
	}
}

.bd-ab1-bottom-content {
	gap: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	@media #{$md,$sm,$xs,$xxs} {
		grid-template-columns: 1fr;
	}
}

.bd-ab1-item {
	max-width: 768px;
	position: relative;
	padding-bottom: 135px;
	@media #{$md,$sm,$xs,$xxs} {
		margin: 0 auto;
	}
	.item-img {
		@media #{$xs,$xxs} {
			height: 295px;
		}
		img {
			@media #{$xs,$xxs} {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}	
		}
	}
	.item-icon {
		left: 40px;
		top: -40px;
		width: 80px;
		height: 80px;
		position: absolute;
		background-color: var(--bd-prime-c);
	}
	.item-text {
		left: 0;
		right: 0;
		bottom: 0;
		max-width: 85%;
		margin: 0 auto;
		position: absolute;
		background-color: #fff;
		padding: 58px 30px 40px 40px;
		@media #{$xs,$xxs} {
			padding: 58px 20px 40px 20px;
		}
		&:before {
			left: 0;
			width: 0;
			height: 0;
			top: -40px;
			content: '';
			position: absolute;
			border-bottom: 40px solid #CA3A00;
			border-left: 40px solid transparent;
		}
		h3 {
			font-size: 24px;
			font-weight: 500;
			padding-bottom: 12px;
		}
	}
}
