.bd-team1-sec {
	z-index: 1;
	.bd-team1-bg {
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		opacity: .5;
	}
}

.bd-team1-content {
	gap: 30px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}

.bd-team1-feed {
	width: 100%;
	max-width: 369px;
}

.bd-team1-item {
	max-width: 396px;
	margin-bottom: 40px;
	padding: 16px 16px 24px;
	background-color: #EDEFED;
	.item-text-social {
		gap: 10px 15px;
		margin-top: 24px;
		flex-wrap: wrap;
		h3 {
			font-size: 24px;
			font-weight: 500;
		}
		.item-social {
			gap: 6px;
			display: flex;
			a {
				width: 40px;
				height: 40px;
				display: flex;
				color: #191919;
				align-items: center;
				background-color: #fff;
				justify-content: center;
			}
		}
	}
	.item-degi {
		margin-top: 18px;
		span {
			color: #474747;
			line-height: 1;
			font-size: 18px;
		}
	} 
}

.bd-team1-stick-item {
	margin: 0 auto;
	max-width: 600px;
	.bd-sec-title {
		p {
			margin: 0 auto;
			max-width: 540px;
		}
	}
	.bd-tm1-scroll {
		margin-top: 84px;
		span {
			right: 0;
			top: -50px;
			left: -9px;
			width: 15px;
			margin: 0 auto;
			text-align: center;
			position: absolute;
			writing-mode: vertical-lr;
		}
	}
}