@keyframes line_animation {
	from {
		bottom: -5%;
	}

	to {
		bottom: 105%;
	}
}
@keyframes line_animation_2 {
	from {
		top: -5%;
	}

	to {
		top: 105%;
	}
}

.bd-workp-sec {
	z-index: 1;
	.line_animation {
		top: 0;
		left: 0%;
		z-index: -1;
		width: 100%;
		height: 100%;
		position: absolute;
		display: flex;
		justify-content: space-evenly;
		.line_area {
			width: 1px;
			height: 100%;
			position: relative;
			background: #1B1B1B;
			&:before {
				width: 1px;
				right: 0px;
				content: "";
				height: 32px;
				position: absolute;
				background-image: linear-gradient(-180deg, #fff 0%, rgba(194, 157, 104, 0) 100%);
			}
			&:nth-child(even) {
				&:before { 
					animation: line_animation 10s linear infinite;
				}
			}
			&:nth-child(odd) {
				&:before { 
					background-image: linear-gradient(360deg, var(--bd-prime-c) 0%, rgba(194, 157, 104, 0) 100%);
					animation: line_animation_2 10s linear infinite;
				}
			}
			&:nth-child(1) {
				&:before {
					animation-delay: -1s;
				}
			}
			&:nth-child(2) {
				&:before {
					animation-delay: -3s;
				}
			}
			&:nth-child(3) {
				&:before {
					animation-delay: -6s;
				}
			}
			&:nth-child(4) {
				&:before {
					animation-delay: -2s;
				}
			}
			&:nth-child(5) {
				&:before {
					animation-delay: -5s;
				}
			}
		} 
	}
	&:before {
		top: 0;
		left: 0;
		width: 100%;
		content: '';
		height: 100%;
		z-index: -1;
		position: absolute;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.72) 100%);
	}
	.bd-sec-title {
		margin: 0 auto;
		max-width: 700px;
		.subtitle {
			background-color: #303030;
		}
		.sec_title {
			color: #fff;
		}
		p {
			opacity: .9;
			color: #E0E0E0;
		}
	}
}

.bd-workp-content {
	gap: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		grid-template-columns: 1fr 1fr;
	}
	@media #{$xs,$xxs} {
		grid-template-columns: 1fr;
	}
}
@keyframes hithere {
	30% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	40%, 60% {
		-webkit-transform: rotate(-20deg) scale(1.2);
		transform: rotate(-20deg) scale(1.2);
	}
	50% {
		-webkit-transform: rotate(20deg) scale(1.2);
		transform: rotate(20deg) scale(1.2);
	}
	70% {
		-webkit-transform: rotate(0deg) scale(1.2);
		transform: rotate(0deg) scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
.bd-workp-item {
	padding: 12px;
	background-color: #191919;
	border: 1px solid #2D2D2D;
	.item-icon-serial {
		padding: 12px;
		margin-bottom: 60px;
		.item-icon {
			width: 80px;
			height: 80px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--bd-prime-c);
			transition: all 500ms ease-in-out;
			svg {
				path {
					transition: all 500ms ease-in-out;
				}
			}
		}
		.item-serial {
			color: #5B5B5B;
			font-weight: 600;
			font-family: var(--bd-heading);
		}
	}
	.item-text {
		padding: 20px;
		background-color: #222222;
		transition: all 500ms ease-in-out;
		h3 {
			color: #fff;
			font-size: 24px;	
			font-weight: 500;
			line-height: 1.2;
			position: relative;
			padding-bottom: 20px;
			margin-bottom: 20px;
			&:before {
				left: 0;
				bottom: 0;
				width: 100%;
				height: 1px;
				content: '';
				position: absolute;
				background-color: #3D3D3D;
				transition: all 300ms ease-in-out;
			}
			&:after {
				left: 0;
				bottom: -1px;
				height: 3px;
				content: '';
				width: 60px;
				position: absolute;
				background-color: var(--bd-prime-c);
				transition: all 300ms ease-in-out;
			}
		}
		p {
			color: #E0E0E0;
			transition: all 300ms ease-in-out;
		}
	}
	&:hover {
		.item-icon-serial {
			.item-icon {
				background-color: #fff;
				svg {
					animation: hithere 1s ease infinite;
					path {
						fill: var(--bd-title-color);
					}
				}
			}
		}
		.item-text {
			background-color: var(--bd-prime-c);
			h3 {
				&:after {
					background-color: #fff;
				}
				&:before {
					background-color: #3D3D3D;
				}
			}
			p {
				color: #fff;
			}
		}
	}
}