.bd-ab2-sec {
	z-index: 1;
	background-color: #EDEFED;
	.bd-ab2-shape {
		left: 0;
		bottom: 0;
		z-index: -1;
		@media #{$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
}

.bd-ab2-top {
	.bd-sec-title {
		max-width: 770px;
	}
	.item-desc {
		max-width: 505px;
	}
}
.bd-ab2-content {
	gap: 24px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.bd-ab2-tab-btn {
	width: 100%;
	max-width: 240px;
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	.nav-item {
		width: 100%;
		margin-bottom: 8px;
		.nav-link {
			width: 100%;
			height: 68px;
			font-size: 20px;
			padding: 0 24px;
			text-align: left;
			background-color: #E0E0E0;
			color: var(--bd-title-color);
			font-family: var(--bd-heading);
			transition: all 400ms ease-in-out;
			&:is(.active) {
				color: #fff;
				background-color: var(--bd-prime-c);
			}
		}
	}
}

.bd-ab2-tab-content {
	width: 100%;
	max-width: 1296px;
}
.bd-ab2-tab-details {
	gap: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	@media #{$sm,$xs,$xxs} {
		grid-template-columns: 1fr;
	}
	.item-img {
		transition: all 1200ms ease-in-out;
	}
	.item-text-icon {
		z-index: 1;
		padding: 48px;
		overflow: hidden;
		background-color: var(--bd-title-color);
		@media #{$xxs} {
			padding: 30px;
		}
		.ab2-shape {
			right: 0;
			top: -60px;
			z-index: -1;
		}
		.item-icon {
			width: 80px;
			height: 80px;
			margin-bottom: 40px;
			background-color: var(--bd-prime-c);
		}
		.item-text {

			h3 {
				color: #fff;
				font-size: 24px;
				line-height: 1.2;
				font-weight: 500;
				position: relative;
				margin-bottom: 20px;
				padding-bottom: 20px;
				&:before {
					left: 0;
					bottom: 0;
					width: 100%;
					height: 1px;
					content: '';
					position: absolute;
					background-color: #CCCCCC99;
					transition: all 300ms ease-in-out;
				}
				&:after {
					left: 0;
					bottom: -1px;
					height: 3px;
					content: '';
					width: 60px;
					position: absolute;
					background-color: var(--bd-prime-c);
					transition: all 300ms ease-in-out;
				}
			}
			p {
				color: #E0E0E0;
			}
		}
	}
}

.bd-ab2-bottom {
	gap: 15px 30px;
	margin-top: 48px;
	padding-top: 22px;
	border-top: 1px solid #D4D4D4;
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
	.item-text {
		width: 100%;
		max-width: 528px;
	}
	.item-btn-grp {
		gap: 12px;
		width: 100%;
		display: grid;
		max-width: 636px;
		grid-template-columns: 1fr 1fr;
		@media #{$sm,$xs,$xxs} {
			grid-template-columns: 1fr;
		}
		.btn_1 {
			padding: 6px 6px 6px 18px;
			background-color: var(--bd-prime-c);
			span {
				color: #fff;
				font-family: var(--bd-heading);
			}
			i {
				width: 40px;
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: var(--bd-title-color);
			}
			&:hover {
				letter-spacing: 1px;
				i {
					animation: shake 0.5s ease-in-out infinite;
				}
			}
		}
		.btn_2 {
			gap: 8px;
			span {
				width: 80%;
				height: 100%;
				display: flex;
				font-size: 18px;
				padding: 5px 18px;
				align-items: center;
				background-color: #E0E0E0;
				color: var(--bd-title-color);
				font-family: var(--bd-heading);
				@media #{$sm,$xs,$xxs} {
					width: 100%;
				}
			}
			i {
				color: #fff;
				width: 52px;
				height: 52px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: var(--bd-title-color);
			}
		}
	}
}


