.bd-ab2-sec {
	background-color: #EDEFED;
}

.bd-ab2-top {
	.bd-sec-title {
		max-width: 770px;
	}
	.item-desc {
		max-width: 505px;
	}
}

.bd-ab2-tab-btn {
	width: 100%;
	max-width: 240px;
	.nav-item {
		width: 100%;
		margin-bottom: 8px;
		.nav-link {
			width: 100%;
			height: 68px;
			font-size: 20px;
			padding: 0 24px;
			text-align: left;
			background-color: #E0E0E0;
			color: var(--bd-title-color);
			font-family: var(--bd-heading);
			transition: all 400ms ease-in-out;
			&:is(.active) {
				color: #fff;
				background-color: var(--bd-prime-c);
			}
		}
	}
}