.bd-feat2-sec {
	.bd-feat2-shape {
		left: 0;
		right: 0;
		bottom: -5px;
	}
}
.bd-feat2-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	@media #{$md,$sm} {
		grid-template-columns: 1fr 1fr;
	}
	@media #{$xs,$xxs} {
		grid-template-columns: 1fr;
	}
}

.bd-feat2-item {
	padding: 40px 15px;
	border-right: 1px solid #E6E6E6;
	&:last-child {
		border-right: none;
	}
	@media #{$md,$sm,$xs,$xxs} {
		border: none;
	}
	.item-inner-area {
		margin: 0 auto;
		max-width: 400px;
		.item-icon {
			width: 80px;
			height: 80px;
			margin: 0 auto;
			margin-bottom: 30px;
			background-color: var(--bd-title-color);
			transition: all 500ms ease-in-out;
		}
		h3 {
			color: #0D0D0D;
			font-size: 24px;
			font-weight: 500;
			line-height: 1.2;
			margin-bottom: 20px;
			position: relative;
			padding-bottom: 20px;
			border-bottom:  1px solid #CCCCCC99;
			&:before {
				left: 0;
				right: 0;
				height: 3px;
				width: 60px;
				content: '';
				bottom: -1px;
				margin: 0 auto;
				position: absolute;
				background-color: var(--bd-prime-c);
			}
		}
		.item-desc {
			line-height: 1.5;
		}
	}
	&:hover {
		.item-inner-area {
			.item-icon {
				background-color: var(--bd-prime-c);
			}
		}
	}
}