.bd-pro2-sec {
	z-index: 1;
	&:before {
		left: 0;
		bottom: 0;
		content: '';
		z-index: -1;
		width: 100%;
		height: 100%;
		max-height: 462px;
		position: absolute;
		background-color: #EDEFED;
	}
	.bd-sec-title {
		margin: 0 auto;
		max-width: 770px;
	}
}

.bd-pro2-slider {
	width: 164.5%;
	margin-left: -35%;
	@media #{$xs,$xxs} {
		max-width: 100%;
		margin-left: 0;
	}
}

.bd-pro2-item {
	margin: 0 auto; 
	max-width: 1031px;
	padding-bottom: 95px;
	.item-img {
		overflow: hidden;
		max-height: 500px;
	}
	.item-text {
		left: 0;
		right: 0;
		opacity: 0;
		bottom: 60px;
		margin: 0 auto;
		max-width: 90%;
		visibility: hidden;
		padding: 30px 32px;
		position: absolute;
		background-color: #EDEFED;
		border-bottom: 4px solid #ED5518;
		transition: all 500ms ease-in-out;
		@media #{$xs,$xxs} {
			max-width: 100%;
			position: static;
		}
		.top_title {
			gap: 15px;
			.item-title {
				width: 100%;
				max-width: 567px;
			}
			h3 {
				width: 100%;
				font-size: 32px;
				line-height: 1;
				font-weight: 500;
				max-width: 567px;
				position: relative;
				padding-bottom: 20px;
				@media #{$xs,$xxs} {
					font-size: 24px;
				}
				&:before {
					left: 0;
					bottom: 0;
					width: 100%;
					height: 1px;
					content: '';
					opacity: .3;
					position: absolute;
					background-color: #5B5B5B;
					transition: all 300ms ease-in-out;
				}
				&:after {
					left: 0;
					bottom: -1px;
					height: 3px;
					content: '';
					width: 60px;
					position: absolute;
					background-color: var(--bd-prime-c);
					transition: all 300ms ease-in-out;
				}
				&:hover {
					color: var(--bd-prime-c);
				}
			}

			.arrow_btn {
				width: 60px;
				height: 60px;
				background-color: var(--bd-prime-c);
				i {
					transform: rotate(-45deg);
				}
				@media #{$xs,$xxs} {
					display: none !important;
				}
			}
		}		
		p {
			max-width: 567px;
			padding-top: 15px;
		}
	}
	.item-view {
		left: 0;
		right: 0;
		top: 50%;
		margin: 0 auto;
		position: absolute;
		transition: all 500ms ease-in-out;
		transform: translateY(-30%) scale(0);
		a {
			color: #fff;
			width: 72px;
			height: 72px;
			display: flex;
			margin: 0 auto;
			font-size: 30px;
			align-items: center;
			border-radius: 100%;
			justify-content: center;
			background-color: var(--bd-prime-c);	
		}
	}
}

.swiper-slide-active {
	.bd-pro2-item {
		.item-text {
			bottom: 0;
			opacity: 1;
			visibility: visible;
		}
		.item-view {
			transform: translateY(-60%) scale(1);
		}
	}
}

.bd-pro2-nav {
	@media #{$md,$sm,$xs,$xxs} {
		display: flex;
		margin-top: 40px;
		justify-content: center;
	}
	.bd-pro2-right,
	.bd-pro2-left {
		z-index: 1;
		width: 64px;
		bottom: 0px;
		height: 320px;
		display: flex;
		position: absolute;
		align-items: center;
		justify-content: center;
		transition: all 500ms ease-in-out;
		background-color: var(--bd-title-color);
		@media #{$md,$sm,$xs,$xxs} {
			height: 50px;
			width: 120px;
			position: static;
		}
		&:hover {
			background-color: var(--bd-prime-c);
		}
	}
	.bd-pro2-right {
		right: 0;

	}
	.bd-pro2-left {
		left: 0;
		i {
			transform: rotate(180deg);
		}
	}
}

.bd-pro2-btm {
	p {
		a {
			margin-left: 5px;
			color: var(--bd-prime-c);
			span {
				position: relative;
				&:before {
					left: 0;
					right: 0;
					bottom: 0;
					height: 1px;
					content: '';
					width: 0%;
					margin: 0 auto;
					position: absolute;
					transition: all 500ms ease-in-out;
					background-color: var(--bd-prime-c);
				}
			}
			&:hover {
				letter-spacing: 1px;
				span {
					&:before {
						width: 100%;
					}
				}
			}
		}
	}
}