.bd-ser2-sec {
	z-index: 1;
	&:before {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		content: '';
		opacity: .9;
		position: absolute;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.72) 100%);
	}
	.bd-ser2-build {
		right: 0;
		bottom: 0;
	}
	.line_animation {
		top: 0;
		left: 0%;
		z-index: -1;
		width: 100%;
		height: 100%;
		position: absolute;
		display: flex;
		justify-content: space-evenly;
		.line_area {
			width: 1px;
			height: 100%;
			position: relative;
			background: #242424;
			&:before {
				width: 1px;
				right: 0px;
				content: "";
				height: 32px;
				position: absolute;
				background-image: linear-gradient(-180deg, #fff 0%, rgba(194, 157, 104, 0) 100%);
			}
			&:nth-child(even) {
				&:before { 
					animation: line_animation 10s linear infinite;
				}
			}
			&:nth-child(odd) {
				&:before { 
					background-image: linear-gradient(360deg, var(--bd-prime-c) 0%, rgba(194, 157, 104, 0) 100%);
					animation: line_animation_2 10s linear infinite;
				}
			}
			&:nth-child(1) {
				&:before {
					animation-delay: -1s;
				}
			}
			&:nth-child(2) {
				&:before {
					animation-delay: -3s;
				}
			}
			&:nth-child(3) {
				&:before {
					animation-delay: -6s;
				}
			}
			&:nth-child(4) {
				&:before {
					animation-delay: -2s;
				}
			}
			&:nth-child(5) {
				&:before {
					animation-delay: -5s;
				}
			}
		} 
	}
	.bd-sec-title {
		.sec_title {
			color: #fff;
		}
		p {
			opacity: .9;
			color: #E0E0E0;
			margin: 0 auto;
			max-width: 750px;
		}
	}
	.bd-feat2-shape1 {
		top: 0;
		left: 0;
		.box {
			transform: scaleY(0);
			animation: grow 3s ease infinite;
		}
		.box1 {
			animation-delay: 0s;
		}

		.box2 {
			animation-delay: .5s;
		}

		.box3 {
			animation-delay: 1s;
		}
	}
}

.bd-ser2-content {
	gap: 12px;
	height: 460px;
	display: flex;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		height: auto;
	}
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}

.bd-ser2-item {
	width: 100%;
	height: 340px;
	padding: 24px;
	overflow: hidden;
	max-width: 384px;
	background-color: #222222;
	border-top: 3px solid #323232;
	transition: all 700ms ease-in-out;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
		height: auto;
	}
	.bd-s2-shape {
		right: -20%;
		width: 175px;
		bottom: -10%;
		height: 165px;
		transition: all 500ms ease-in-out;
	}
	.item-top {
		.item-serial {
			color: #5B5B5B;
			font-size: 24px;
			font-weight: 600;
			font-family: var(--bd-heading);
		}
		.item-icon {
			width: 72px;
			height: 72px;
			background-color: var(--bd-prime-c);
		}
	}
	.item-text {
		margin-top: 30px;
		h3 {
			opacity: 0;
			color: #fff;
			font-size: 32px;
			font-weight: 500;
			line-height: 1.1;
			max-width: 567px;
			position: relative;
			margin-bottom: 24px;
			padding-bottom: 24px;
			visibility: hidden;
			transition: all 600ms ease-in-out;
			@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
				opacity: 1;
				visibility: visible;
			}
			@media #{$md,$sm,$xs,$xxs} {
				font-size: 24px;
			}
			&:before {
				left: 0;
				bottom: 0;
				width: 100%;
				height: 1px;
				content: '';
				position: absolute;
				background-color: rgba(255, 255, 255, 0.3);
				transition: all 300ms ease-in-out;
			}
			&:after {
				left: 0;
				bottom: -1px;
				height: 3px;
				content: '';
				width: 60px;
				position: absolute;
				background-color: var(--bd-prime-c);
				transition: all 300ms ease-in-out;
			}
			&:hover {
				color: var(--bd-prime-c);
			}
		}
		p {
			opacity: 0;
			color: #E0E0E0;
			max-width: 567px;
			line-height: 1.5;
			visibility: hidden;
			padding-bottom: 0px;
			transition: all 600ms ease-in-out;
			@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
				opacity: 1;
				visibility: visible;
				padding-bottom: 50px;
			}
		}
		.read_more {
			width: 50px;
			height: 50px;
			display: flex;
			align-items: center;
			background-color: #323232;
			justify-content: center;
			transform: translateY(-55px);
			transition: all 800ms ease-in-out;
			svg {
				path {
					fill: #fff;
					transition: all 500ms ease-in-out;
				}
			}
			@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
				transform: translateY(0px);
			}
		}
	}
	&:is(.active) {
		height: 460px;
		max-width: 768px;
		border-top: 3px solid #ED5518;
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			height: auto;
			max-width: 100%;
		}
		.bd-s2-shape {
			width: 332px;
			height: 310px;
		}
		.item-text {
			h3,p {
				opacity: 1;
				visibility: visible;
			}
			p {
				padding-bottom: 85px;
				@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
					padding-bottom: 50px;
				}
			}
			.read_more {
				background-color: #fff;
				transform: translateY(0px);
				svg {
					path {
						fill: var(--bd-title-color);
					}
				}
			}
		}
	}
}